<div>
  Dear <b><%= @details[:company_name] %></b>,
<div>
<p>
  I hope this message finds you well. I recently had the opportunity to know that <b>you have started your own company<b>, so, <b>Many Many Congratulations for that.</b>
</p>
<p>
  At <b>SriGoRack Technologies</b>, we specialize in <b>Web Development</b> and <b>Mobile App Development</b>, and we see immense potential in your company and I think you should be having your own Website. We believe that, we can help <%= @details[:company_name] %> achieve an <b>even higher level of user satisfaction and functionality</b>, which will involve <b>SEO optimization</b> to increase the customer reach as well.
</p>
<p>
  Our team of <b>experienced developers</b> is well-versed in the latest web development trends and technologies. We can work closely with you to identify <b>areas of improvement</b> and create a tailored plan to <b>make the user experience on your website.</b> Whether it's optimizing page load times, improving navigation, or adding new features, we are committed to delivering results that align with your business objectives.
</p>
<p>
  In addition to website enhancements, we also offer comprehensive <b>Mobile App Development services.</b> With the increasing reliance on mobile devices, having a dedicated mobile app can significantly boost your reach and engagement with your audience. Our team can design and develop a user-friendly and feature-rich mobile app that complements your website's offerings.
</p>
<p>
  We understand the importance of cost-effectiveness, and we are committed to providing you with a <b>convenient pricing package</b> that aligns with your budgetary considerations. Our goal is to help <%= @details[:company_name] %> achieve its digital goals without breaking the bank.
</p>
<p>
  If you're interested in exploring the possibilities of making your website and developing a mobile app, please don't hesitate to get in touch. We would be delighted to discuss your requirements in more detail and provide you with a tailored proposal.
</p>
<p>
  Thank you for considering <b>SriGoRack Technologies Pvt. Ltd.</b> as your trusted technology partner. We look forward to the opportunity to collaborate with <b><%= @details[:company_name] %></b> and help you achieve even greater success in the future.
</p>

<div>
  <b>
    Best Regards,
    <br>
    Ashrut P.
    <br>
    SriGoRack Technologies Pvt. Ltd.
    <br>
    Phone: +91-9981834205
    <br>
    Email: ashrut@gorack.in
  </b>
</div>
